@model ProductsViewModels

<h3>@Model.CurrentCategory</h3>
<div class="container">
    <div class="row">
        @foreach (var item in Model.ProductDtos)
        {
            <partial name="_PartialViews" for="@item" />
        }
    </div>
</div>
